<p id="notice"><%= notice %></p>

<h1>Listing Headcrabs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Birthday</th>
      <th>Price</th>
      <th>Description</th>
      <th>Pic url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @headcrabs.each do |headcrab| %>
      <tr>
        <td><%= headcrab.name %></td>
        <td><%= headcrab.birthday %></td>
        <td><%= headcrab.price %></td>
        <td><%= headcrab.description %></td>
        <td><%= headcrab.pic_url %></td>
        <td><%= link_to 'Show', headcrab %></td>
        <td><%= link_to 'Edit', edit_headcrab_path(headcrab) %></td>
        <td><%= link_to 'Destroy', headcrab, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Headcrab', new_headcrab_path %>
