<p id="notice"><%= notice %></p>

<h1>All the Headcrabs. Buy From Combine, Anticitizen!</h1>

<table>
  <thead>
    <tr>
      <th>Headcrab Name</th>
      <th>Headcrab Birthday</th>
      <th>Headcrab Price</th>
      <th>Headcrab Description</th>
      <th>Headcrab Pix</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @headcrabs.each do |headcrab| %>
      <tr>
        <td><%= headcrab.name %></td>
        <td><%= headcrab.birthday %></td>
        <td><%= headcrab.price %></td>
        <td><%= headcrab.description %></td>
        <td><a href="<%= headcrab.pic_url %>">Take a gander!</a></td>
        <td><%= link_to 'Show', headcrab %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
