<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @headcrab.name %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @headcrab.birthday %>
</p>

<p>
  <strong>Price:</strong>
  <%= @headcrab.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @headcrab.description %>
</p>

<p>
  <strong>Pic url:</strong>
  <%= @headcrab.pic_url %>
</p>

<li>
  <%if signed_in?%>
    <%=link_to "", class: "button", data: {target: @cart_action, addUrl: add_to_cart_path(@headcrab), removeUrl: remove_from_cart_path(@headcrab)} do%>
      <i class="fi-shopping-cart"></i>
      <span><%=@cart_action%></span> Cart
    <%end%>
  <%end%>
</li>
