<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @headcrab.name %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @headcrab.birthday %>
</p>

<p>
  <strong>Price:</strong>
  <%= @headcrab.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @headcrab.description %>
</p>

<p>
  <strong>Pic url:</strong>
  <%= @headcrab.pic_url %>
</p>

<%= link_to 'Back', headcrabs_path %>
